In [1]:
import pandas as pd

In [15]:
df = pd.read_csv("utmb_2020_lottery.csv")
df.describe()

       race_name surname first_name category country nationality   status
count      34275   34275      34275    34273   34274       34275    34275
unique         7   23033       8102       18      95         102        3
top         CCC®      LI      David     V1 H      FR          FR  Refused
freq       10576     102        467    11398   12326       12322    23264

In [17]:
races = df.race_name.value_counts()
races

CCC®     10576
UTMB®    10124
OCC       9255
TDS®      2683
MCC        973
PTL®       481
YCC        183
Name: race_name, dtype: int64

In [48]:
for race in races.index:
    df_race = df.loc[df["race_name"] == race]
    won = (df_race.status != "Refused").value_counts()[True]
    total = len(df_race)
    print(f"{race:6s}: {won:4d} / {total:5d} = {won / total * 100:3.0f}% chance")

'CCC®  : 2557 / 10576 =  24% chance'

'UTMB® : 2834 / 10124 =  28% chance'

'OCC   : 1892 /  9255 =  20% chance'

'TDS®  : 2254 /  2683 =  84% chance'

'MCC   :  973 /   973 = 100% chance'

'PTL®  :  318 /   481 =  66% chance'

'YCC   :  183 /   183 = 100% chance'